.container {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  /* background: #f14444; */
}
.link {
  padding: 0.3rem;
  background-color: #cfcaca;
  border-radius: 30px;
  border: 1px solid #cfcaca;
  color: #f14444;
  text-decoration: none;
}
