.search {
  height: 3rem;
  margin-left: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search label {

    color: red;
}
.input {
    width: 60%;
  border-radius: 30px;
  border: solid gray 1px;
  padding: 0.3rem;
  margin: 0 0.3rem;
  color: rgb(205, 203, 203);
}

.btn {

  border-radius: 30px;
  border: solid gray 1px;
  padding: 0.3rem;
  background:linear-gradient(#e66465, #9198e5);
  color: #fff
}
.btn:Hover{
    color: rgb(4, 3, 3);


}
